<div class="container">
  <div class="card">
    <div class="card header">
      Firebase Cloud Storage with angular
    </div>
    <div class=" card-body">
      <h5 class="card-title">Select File for upload</h5>
      <input type="file" (change)="upload($event)" accept=".mp4"/>
      <br><br>
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success"role="progressbar" [style.width]="(uploadProgress|async)+'%'" [attr.aria-valuenow]="(uploadProgress|async)"
        aria-valuemin="0" aria-valuemax="100" >
      </div>
      <br> <br> 
       </div>

       <div>
        
      </div>
     
  </div>
  <div>
  <button onclick="getURL()">Show</button>
  <div *ngIf="downloadURL | async; let downloadSrc" class="alert alert-info" role="alert">
    <video width="400" controls>
      <source src="{{downloadSrc}}" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
    </div>
  </div>

  <div>
    <h1>Angular Google Maps with Places Search Example</h1>
 
    <div class="form-group">
      <label>Select Pickup location</label>
      <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Select Pickup Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
      
    </div>
   </div>
    
     
    </div>
   <div>
    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
        (dragEnd)="markerDragEnd($event)"></agm-marker>

    </agm-map>
   
    <h5>Address: {{address}}</h5>
    <div>Latitude: {{latitude}}</div>
    <div>Longitude: {{longitude}}</div>
   </div>
    

   <div>
    <h1> Show route</h1>
    <agm-map [latitude]="latitude" [longitude]="longitude">
  <agm-direction [origin]="origin" [destination]="destination"></agm-direction>
  
</agm-map>
  </div>
  <br> <br>
  <div></div>
  </div>

  
