<div class="container">
  <div class="card">
    <div class="card header">
      Firebase Cloud Storage with angular
    </div>
    <div class=" card-body">
      <h5 class="card-title">Select File for upload</h5>
      <input type="file" (change)="upload($event)" accept=".mp4"/>
      <br><br>
      <div class="progress">
        <div class="progress-bar progress-bar-striped bg-success"role="progressbar" [style.width]="(uploadProgress|async)+'%'" [attr.aria-valuenow]="(uploadProgress|async)"
        aria-valuemin="0" aria-valuemax="100" >
      </div>
      <br> <br> 
       </div>

       <div>
        <div *ngIf="downloadURL |async; let downloadVideoLink" class="alert-alert-info" role="alert">
          File uploaded: <a [href]="downloadVideoLink">{{ downloadURL | async }}</a>
        </div>
      </div>
     
  </div>
</div>